/* Navbar Container */

nav {
    background-color: #2c4763; /* Blue background */
    width: 100%; /* Ensures full-width navbar */
    display: flex;
    justify-content: space-between; /* Spreads links evenly */
    align-items: center;
    text-align: center;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; /* Keeps navbar fixed at the top */
    top: 0;
    left: 0;
    gap: 15px;
    z-index: 1000;
    padding-left: 5%;
    padding-right: 15%;
  }
  nav h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 0%;
    padding-right: 75%;
  }
  
  /* Navbar Links Container */
  .nav-links {
    display: flex;
    gap: 5px;
    align-items: center;
    
    flex-grow: 1;
    justify-content: center;
  }
  
  /* Navbar Links */
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 10%;
    
    padding: 15px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Hover Effect */
  nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
  }
  
  /* Active Link */
  nav a.active {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  /* Responsive Navbar */
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      padding: 10px;
      align-items: center;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 10px;
    }
  
    nav a {
      font-size: 16px;
      padding: 8px 12px;
    }
  }
  